@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
}

h1,
h2 {
  font-weight: 300px;
  line-height: 1.2;
}

img {
  width: 100%;
}

/* HEADER */

#header {
  height: 100vh;
  background-image: url(./img/home/showcase.jpg);
  color: #fff;
  position: relative;
}

#navbar h1.logo {
  color: #fff;
}

.text-primary {
  color: #28a745;
}

/* HEADER- Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  height: 70px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  transition: 0.5s;
  position: fixed;
  width: 100%;
}

.top {
  background: transparent;
}

#nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

#nav ul li a {
  padding: 10px 20px;
  margin: 0 5px;
}

#nav ul li a {
  text-decoration: none;
  color: #fff;
}
#nav ul li a:hover {
  border-bottom: 2px solid #28a745;
}

/* Header - showcase */

#showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  gap: 15px;
  height: calc(100% - 70px);
}

#showcase h1 {
  font-size: 55px;
}

#showcase p {
  margin: 20px 0 30px;
  font-size: 23px;
  max-width: 600px;
}

#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#header * {
  z-index: 10;
}

#showcase .btn {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #28a745;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}

/* Info Section */

#info {
  height: 45vh;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  color: #333;
}

.info-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.icon {
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  /* margin-bottom: 15px; */
}

.info-item p {
  line-height: 1.6;
  padding: 0 25px;
}

/* Work Section */

#work {
  display: flex;
  height: 70vh;
}

.work-image {
  flex: 1;
}

.work-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-info {
  flex: 1;
  background-color: #28a745;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

.work-info h3 {
  font-size: 40px;
  font-weight: 100;
  line-height: 1.2;
}

a.btn-outline {
  text-decoration: none;
}

.btn-outline {
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px 30px;
  cursor: pointer;
}

/* Business Section */
.business-info {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding: 20px 0px;
  color: #333;
}

.business-info h2 {
  font-weight: 100;
  font-size: 40px;
  line-height: 1.2;
}

/* Business Info Images Grid */

.business-images {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 4px;
}

.business-images img {
  width: 100%;
  object-fit: cover;
}

/* Blog Section */

.blog-index {
  display: flex;
  margin-top: 40px;
}

.blog-post {
  flex: 1;
  background: #0284d0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 30px;
}
.blog-post h2 {
  font-size: 40px;
  font-weight: 100;
  line-height: 1.2;
}

.blog-img {
  flex: 1;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* About Section */

#about {
  padding: 30px;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: 300;
  padding: 30px;
}

.about-text h2 {
  font-size: 40px;
  font-weight: 100;
}

.about-text h4 {
  font-weight: 500;
}

.about-images {
  display: flex;
  flex-direction: row;
}
.img-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  padding: 20px;
}
.img-col img {
  width: 100%;
  border-radius: 50%;
}

.img-col h4 {
  font-weight: 400;
}

.img-col p {
  margin: 10px 0px;
}

/* Callback Contact Form */

#callback {
  display: flex;
  flex-direction: row;
}

.callback-img {
  flex: 1;
  width: 100%;
}

.callback-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.callback-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  gap: 30px;
  background-color: #f4f4f4;
}

.callback-form > * {
  width: 100%;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}

.callback-form .btn {
  background-color: #28a745;
  padding: 12px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.callback-form h2 {
  font-size: 40px;
  font-weight: 100;
}

/* Footer Section */

.bg-dark {
  background-color: #333;
}

.social {
  display: flex;
  justify-content: center;
}
.social a {
  text-decoration: none;
  color: #fff;
}
.social a i {
  padding: 50px 20px 0px;
}

.fab {
  font-weight: 400;
}

.fa-2x {
  font-size: 2em;
}

.footer p {
  color: #fff;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 50px;
}

/* Blog HTML Page */

.hero.blog {
  background: url("./img/home/blog.jpg") no-repeat center center/cover !important;
  height: 30vh;
  position: relative;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
  color: #fff;
  font-weight: 300;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero * {
  z-index: 10;
}

.hero #navbar {
  /* background: transparent; */
}

/* Blog Post One inside Blog Page */

#blog-1,
#blog-2,
#blog-3 {
  height: 70vh;
  display: flex;
  overflow: hidden;
}

.img-left {
  flex: 1;
  height: 100%;
  width: 100%;
}
.content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  height: 100%;
}
.content-right h2 {
  font-size: 40px;
  font-weight: 100;
  line-height: 1.2;
}

.btn {
  text-decoration: none;
  padding: 10px 30px;
  /* background-color: #28a745; */
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  outline: none;
}

.btn-dark {
  background-color: #333;
}
.btn.btn-light {
  background-color: #f4f4f4;
  color: #333;
}

.img-left img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
/* Blog Post Two inside Blog Page  */

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

/* Blog Post Three Inside Blog Page */

.blog-3 {
  display: flex;
}

/* Post */
.post {
  padding: 50px 30px;
}

.post h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: #ccc solid 1px;
  font-weight: 300;
}

.post .meta {
  margin-bottom: 30px;
}

.post img {
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
}

/* Mobile */
@media (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    height: 120px;
    padding: 20px;
    width: 100%;
  }

  #nav ul li a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  #info {
    flex-direction: column;
    height: 100%;
  }

  #work {
    flex-direction: column;
    height: 100%;
    gap: 0px;
    padding: 0px;
  }

  .business-images {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }

  .blog-index {
    flex-direction: column-reverse;
    height: 100%;
  }

  .about-images {
    flex-direction: column;
    align-items: center;
  }
  .about-images .img-col {
    width: 70%;
  }

  .about-images img {
    width: 100%;
  }
  #callback {
    flex-direction: column;
    height: 100%;
  }

  /* Blog HTML Page */

  #blog-1,
  #blog-2,
  #blog-3 {
    flex-direction: column;
    height: 100%;
  }
  .content-right {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
